header {
  width: 100%;
}
nav {
  width: 100%;
  max-width: 1180px;

  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav > a {
  font-size: 24px;
  color: #444444;
  font-weight: 700;
}
nav > .buttons {
}
nav > .buttons > button {
  color: #555555;
  font: bold 15px;
  padding: 20px 40px;

  background-color: transparent;
  border: none;
}
nav > .buttons > button:hover {
  background-color: #444444;
  color: white;
  cursor: pointer;
}
